@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;800&family=Roboto&display=swap');

// colors
$light: #fcfcfc;
$dark: #545653;
$gray: #a8aaa7;
$accent: #499dc2;
$accent-secondary: #55a1c7;
$green: #97e44b;

// fonts
$noto-sans: 'Noto Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
