@import './styles/styles.scss';
@import './styles/app/app.module.scss';
@import './styles/create-task/create-task.module.scss';
@import './styles/task/task.module.scss';
@import './styles/progressbar/progressbar.module.scss';
@import './styles/remove-checked-button/remove-checked-button.module.scss';

:root {
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 10px 0px 30px 0px;

	li {
		font-family: $roboto;
	}
}

button {
	cursor: pointer;
	border: none;
	background-color: $accent-secondary;

	&:disabled {
		cursor: not-allowed;
	}
}
